.calendar-box {

}

.buttons-container {
  cursor: pointer;
}

.week {
  overflow: hidden;
}

.week.highlight {
  background: #efefef;
}

/* weekend */
.week .day:first-child, .week .day:last-child {
  /*color: orange;*/
}

/* sunday */
.week .day:first-child {
  /*color: red;*/
}

.day {
  display: inline-block;
  float: left;
  width: 14.28%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.day.disabled span {
  color: #AAA;
}

/* vertical highlight */
.week .day.highlight span {
  /*color: blue;*/
}

.day.selected span {
  /*background: orange;*/
}

.day.today span {
  font-weight: bold;
}

.months-container.hidden, .weeks-container.hidden {
  display: none;
}

.months-wrapper {
  overflow: hidden;
}

.months-wrapper .month {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.months-wrapper .month.one-third {
  width: 33.33%;
}
.buttons-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.buttons-container .label-container {
  display: inline-block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.year-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 5px 20px;
}

.prev-button,
.next-button {
  background: transparent;
  border: none;
  padding: 10px;
}

.week {
  margin: 10px 0;
}

.week.highlight {
  border-radius: 5px;
}

.weeks-wrapper.header {
  border-bottom: 1px solid #eee;
}

.week .day.header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
}

.day span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.day.today span {
  position: relative;
  display: inline-block;
  font-size: 110%;
}

/* weekend */
.week:not(.start-on-monday) .day:first-child,
.week:not(.start-on-monday) .day:last-child {
  color: orange;
}

/* sunday */
.week:not(.start-on-monday) .day:first-child {
  color: red;
}

/* start on monday - weekend */
.week.start-on-monday .day:nth-child(6),
.week.start-on-monday .day:last-child {
  color: orange;
}

/* start on monday - sunday */
.week.start-on-monday .day:last-child {
  color: red;
}

.day.today span::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid orange;
  width: 10px;
  height: 1px;
}

.day.sunday span {
  color: #ff8a80;
}

.week .day.highlight span {
  color: #2196f3;
}

.week .day.selected span {
  background: #1565c0;
  color: white;
}

.week .day[disabled="disabled"] span {
  color: #aaa;
  cursor: not-allowed;
}

.months-wrapper .month span {
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.special-buttons {
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 10px;
  cursor: pointer;
}

.today-button {
  margin: 0 auto;
  background: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.bookformMain h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}
.NewsFilter1 label {
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  color: #000000;
  line-height: 18px;
  font-weight: 500;
}

.days input[type="checkbox"] {
  display: none;
}

.days input:checked + label {
   /* box-shadow: 0px 4px 15px 0px rgb(34 34 34 / 41%); */
   border-color: #000;
   background: #000;
   color: #fff;
}

.days input:checked + .days label:before {
  opacity: 1;
}
.days input:checked + .days label:after {
  opacity: 1;
  border-color: #333;
}

.days label {
   border: 1px solid #000;
   color: #000;
   padding: 2px 7px;
   font-size: 14px;
   display: inline-block;
   border-radius: 6px;
   margin-right: 5px;
   cursor: pointer;
}
.NewsFilter1 .uk-select {
   max-width: 100% !important;
}
div#modal-book-appointment .uk-modal-dialog {
  border: 1px solid #D1DBE3;
  border-radius: 5px;
}
.bookformMain.NewsFilter {
  padding: 0;
}
.Employee-Form_main .category label{
  border: 1px solid #eee;
  margin-right: 10px;
  padding: 10px 15px 10px 10px;
  display: inline-block;
  margin-bottom: 20px;
  background-color: #FAFAFA;
  font-size: 14px;
  border-radius: 5px;
  color: #000000;
  width:100%;
}