.acmeticker-wrap {
	float: right;
}
.MobileMenuBar {
	display: none;
	float: left;
	width: 100%;
	background: #FFFFFF;
	padding: 10px 0;
	position: relative;
}
.smimg {
	display: none;
}
.mobShow, .formob {
	display: none;
}
.tabBtn2 {
	white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    margin-bottom: -6px;
}
.tabBtn2 li {
    float: none;
    display: inline-block;
}
.tabBtn {
	white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
}
.tabBtn li {
	float: none;
    display: inline-block;
}
.tabBtn.BankTab li {
	float: none;
}
.selectForm.uk-form-custom span {
	width: 230px;
}
.claimForm .selectForm.uk-form-custom span {
	width: 230px;
}
.ftrbtmLink {
	position: relative;
}
.ftrbtmLink li a.scrollTop {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #0064BF;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	position: absolute;
    right: -10px;
    bottom: 0;
}
.orbisContent {
	margin-bottom: 20px;
}
.DownloadList ul li a {
	position: relative;
}
.DownloadList ul li a svg.uk-svg {
	position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.ratingBody span {
	width: 100%;
	max-width: 320px;
}
@media screen and (max-width: 1680px) {
.innerPageContent2 h2 {
    font-size: 42px;
    line-height: 50px;
}
.Content h5 {
    font-size: 34px;
    line-height: 40px;
}
.innerPageContent h4 {
    font-size: 34px;
    line-height: 40px;
}
.ourPartners h3 {
	font-size: 34px;
    line-height: 40px;
}
}
@media screen and (max-width: 1440px) {
.innerPageContent2 h2 {
    font-size: 36px;
    line-height: 42px;
}
ul.uk-accordion li a {
    font-size: 22px;
    line-height: 32px;
}
.Content h5 {
    font-size: 32px;
    line-height: 38px;
}
.innerPageContent h4 {
    font-size: 32px;
    line-height: 38px;
}
.ourPartners h3 {
	font-size: 32px;
    line-height: 38px;
}
}
@media screen and (max-width: 1280px) {
.Newsbox {
    padding: 0 50px;
}
.innerPageContent2 h2 {
	font-size: 32px;
    line-height: 38px;
}
ul.uk-accordion li a {
    font-size: 20px;
    line-height: 28px;
}
.Content h5 {
	font-size: 30px;
    line-height: 36px;
}
.innerPageContent h4 {
    font-size: 30px;
    line-height: 36px;
}
.faqsCard h3 {
    font-size: 26px;
}
.faqsCard h6 {
    font-size: 18px;
    line-height: 26px;
}
.ourPartners h3 {
	font-size: 30px;
    line-height: 36px;
}
}
@media screen and (max-width: 1200px) {
.topBar {
	display: none !important;
}
.MenuBar {
	display: none;
}
.MobileMenuBar {
	display: block;
}
.mobRght {
	float: right;
}
.mobRght a {
	float: left;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #000000;
	margin-top: 5px;
}
.mobRght a svg {
	width: 24px;
}
.recicon svg path {
	fill: #000000;
}
.mobRght a ~ a {
	margin-left: 10px;
}
.grayPaca {
	position: absolute;
	left: 50%;
	top: 10px;
	background: #F5F5F5;
	border-radius: 5px;
	text-align: center;
	transform: translateX(-50%);
	padding: 5px 10px;
	max-width: 150px;
	color: #000;
}
.grayPaca p {
	float: left;
	width: 100%;
	margin: 0;
	font-size: 12px;
	line-height: 15px;
}
.MobileMenu .uk-offcanvas-bar {
	background: #F5F5F5;
	color: #000000;
	padding: 20px;
}
.headMobileMenu {
	float: left;
	width: 100%;
	position: relative;
}
.headMobileMenu .logo {
	float: left;
}
.headMobileMenu .uk-offcanvas-close {
	color: #000;
	padding: 0;
	position: relative;
	top: 8px;
	right: 0;
	width: 24px;
	height: 24px;
	float: right;
}
.headMobileMenu .langBtn {
	float: right;
    color: #000;
    font-size: 20px;
    line-height: 24px;
    margin-top: 8px;
    margin-right: 10px;
}
.MobileMenuList {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.MobileMenu .uk-offcanvas-bar .uk-nav-default>li>a, .MobileMenu .uk-offcanvas-bar .uk-nav-default .uk-nav-sub a {
	color: #000;
}
.MobileMenu .uk-offcanvas-bar .uk-nav-default>li>a {
	padding: 10px 0;
	font-size: 14px;
	line-height: 20px;
}
.MobileMenu .uk-offcanvas-bar .uk-nav-default>li.uk-active>a {
	color: #0064BF;
}
.MobileMenu .uk-offcanvas-bar .uk-nav-default .uk-nav-sub li.uk-active a {
	color: #0064BF;
}
.MobileMenu .uk-offcanvas-bar .uk-nav-default .uk-nav-sub a {
	padding: 10px 0;
	font-size: 12px;
	line-height: 20px;
}
.MobileMenu .uk-offcanvas-bar .uk-nav-default>li {
	border-bottom: solid 1px #E4E4E4;
}
.MobileMenu .uk-open .uk-nav-parent-icon {
	transform: rotate(180deg);
}
.containCustom2 {
	padding: 0;
}
.detailsPage h6 {
    margin-top: 10px;
}
.selectForm.uk-form-custom span {
	width: 180px;
}
.claimForm .selectForm.uk-form-custom span {
	width: 180px;
}
.whiteTabsSec h2 {
    font-size: 32px;
    line-height: 40px;
}
.tabsContent h3 {
    font-size: 18px;
}
.faqsCard h3 {
    font-size: 24px;
}
.faqsCard h6 {
    font-size: 16px;
    line-height: 24px;
}
}
@media screen and (max-width: 959px) {
.designDevelop {
	width: 100%;
	text-align: center;
}
.ftrbtmLink {
	width: 100%;
	padding: 0;
	text-align: center;
}
.ftrbtmLink li {
	display: inline-block;
	float: none;
	margin: 0 10px;
}
.ftrbtmLink li a {
	float: none;
}
.width2tab {
	width: 50%;
}
.Newsbox {
    transform: translateY(-30%);
    padding: 0 30px;
}
.SecBanTxt {
    padding: 0 30px;
}
}
@media screen and (max-width: 768px) {
.smimg {
	display: block;
}
.sdimg {
	display: none;
}
.width2tab {
	width: 100%;
}
.SecBanTxt {
	height: auto;
	top: inherit;
	bottom: 40px;
}
.SecBanTxt h3 {
	color: #fff;
}
.SecBanTxt p {
	color: #fff;
}
.prSecCar .SecBanTxt {
	top: 0;
    height: 100%;
}
.ScrollCarousalBoxHover {
    transform: translateY(0);
}
.ScrollCarousalBoxHover h4 {
	transform: translateY(0px);
}
.innerPageContent h2 {
    font-size: 16px;
    line-height: 24px;
}
.innerPageContent h3 {
    font-size: 24px;
    line-height: 30px;
}
.breadcrumb {
	display: none;
}
.detailsPage {
	padding: 30px 0;
	margin: 0;
}
.whiteTabsSec {
	background: #fff;
}
.tabsContent {
	padding: 30px 0;
}
ul.uk-accordion li a {
    font-size: 18px;
    line-height: 24px;
}
.sendMessage {
	padding: 30px;
}
.whiteTabsSec >div:first-child h2 {
	margin-top: 30px;
}
.Content h5 {
	font-size: 24px;
    line-height: 30px;
}
.innerPageContent h4 {
    font-size: 24px;
    line-height: 30px;
}
.innerPageContent2 h2 a {
    font-size: 16px;
}
.mobfullTable.uk-table td {
	display: inline-block;
	width: 100%;
}
.mobfullTable.uk-table td:first-child {
	padding-bottom: 0;
}
.boxyDesignTxt h3 {
    font-size: 24px;
    line-height: 30px;
}
.ourPartners h3 {
	font-size: 24px;
    line-height: 30px;
}
}
@media screen and (max-width: 700px) {
.boxyDesignImg {
	position: relative;
}
.boxyDesignTxt {
    margin-top: 0;
    margin-right: 0;
    max-width: 100%;
}
}
@media screen and (max-width: 639px) {
.MobileMenuBar .logo {
	width: 64px;
    float: left;
    margin: 7px 0;
}
.homeBannerTxt {
    height: auto;
    top: inherit;
    bottom: 50px;
}
.homeBullets {
	bottom: 10px;
}
.homeBannerTxt h1, .homeBannerTxt h2 {
    font-size: 36px;
    line-height: 42px;
}
.acmeticker-wrap {
	width: 100%;
	border-bottom: solid 1px #fff;
	margin-bottom: 10px;
}
.TickerBox {
	text-align: center;
}
.viewAll {
	float: none;
	display: inline-block;
}
.HeadingBox {
	text-align: center;
}
.HeadingBox h3 {
    font-size: 30px;
    line-height: 36px;
}
.ScrollCarousalBox {
    max-width: 300px;
}
.SecBanTxt h3 {
    font-size: 30px;
    line-height: 36px;
}
.mobHide {
	display: none;
}
.mobShow {
	display: inline-block;
	float: none;
}
.formob {
	display: inline-block;
	padding: 30px 0 0;
}
.cardsCarousel .uk-card {
    max-width: 300px;
}
.cardsCarousel h3 {
    font-size: 18px;
    line-height: 22px;
}
.SecBanInner.fullWidth {
	text-align: center;
}
footer {
	text-align: center;
}
.topRightMenu {
	width: 100%;
	text-align: center;
}
.topRightMenu>li {
	float: none;
	display: inline-block;
	margin: 0 10px;
}
.crfBtn {
	display: inline-block;
	margin-bottom: 15px;
	float: none;
}
.footBtn {
	display: inline-block;
	float: none;
}
.apiBtns {
	display: inline-block;
	float: none;
}
.ftrLinks {
	text-align: left;
}
.ftrlogo {
	display: inline-block;
	float: none;
}
.SocialLinks {
    display: inline-block;
	float: none;
}
.SocialLinks ul li {
	margin: 0 5px;
}
.tabInner h3 {
    font-size: 18px;
    line-height: 24px;
}
.tabInner p {
    font-size: 14px;
}
.tabBtn li {
    margin-left: 20px;
}
.tabBtn li a {
    font-size: 14px;
}
.GridBox {
	height: 450px;
}
.GridBoxTxt h3 {
    font-size: 28px;
    line-height: 34px;
}
.innerPageContent2 h4 {
    font-size: 18px;
    line-height: 24px;
}
.innerPageContent2 h2 {
    font-size: 24px;
    line-height: 32px;
}
.NewsFilter .uk-select:not([multiple]):not([size]) {
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	max-width: inherit;
}
.NewsFilter {
	padding-bottom: 40px;
}
.newsCard h3 {
    font-size: 18px;
    line-height: 24px;
}
.detailsPage h1 {
    font-size: 24px;
    line-height: 32px;
}
.whiteTabsSec h2 {
    font-size: 28px;
    line-height: 36px;
}
.DownloadList ul li a {
    padding: 20px 40px 20px 20px;
}
.tabsFormBox {
	padding: 40px 20px;
}
.claimForm {
	padding: 30px 20px;
}
.GuideSearchInput input {
	width: 100%;
    margin: 0;
    margin-bottom: 10px;
    max-width: inherit;
}
.uk-overflow-auto .uk-table th, .uk-overflow-auto .uk-table td {
	white-space: nowrap;
}
.FaqAccordion ul li {
	padding: 30px 20px;
}
.faqsCard h3 {
    font-size: 20px;
}
.faqsCard h6 {
    font-size: 14px;
    line-height: 20px;
}
.GridBoxTxt p {
	display: none;
}
}
@media screen and (max-width:450px) {
.spcialSpace .newsCard .uk-card-body {
	padding-bottom: 150px;
}
.spcialSpace .dateNews {
    bottom: 100px;
    right: inherit;
    left: 20px;
}
}