@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
* {
	box-sizing: border-box;
	outline: none !important;
	letter-spacing: 0;
}
a, a:hover {
	color: #1D1D1D;
}
a:hover {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.imgFull {
	width: 100%;
}
.underlineText {
	text-decoration: underline;
}
.mdl {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}
.mdl_inner {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    color: #1D1D1D;
}
/**+.uk-h1, *+.uk-h2, *+.uk-h3, *+.uk-h4, *+.uk-h5, *+.uk-h6, *+.uk-heading-2xlarge, *+.uk-heading-large, *+.uk-heading-medium, *+.uk-heading-small, *+.uk-heading-xlarge, *+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
	margin-top: 40px;
}*/
html {
	scroll-behavior: smooth;
}  
body, html {
	background: #F6F6F6;
}
body {
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
	color: #1D1D1D;
}
body.HiddenScroll {
	overflow: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
body::-webkit-scrollbar-track {
  background: #FFFFFF99;
}
body::-webkit-scrollbar-thumb {
  background: #0064BF;
}
body::-webkit-scrollbar-thumb:hover {
  background: #11a74f;
}
section, header, footer {
	float: left;
	width: 100%;
}
section {
	overflow: hidden;
}
.topBar {
	float: left;
	width: 100%;
	background: #fff;
	padding: 10px 0;
	position: relative;
}
.topBar .logo {
	float: left;
	width: 112px;
}
.topBar .logo img {
	width: 100%;
}
.topRight {
	float: right;
}
.topRightMenu {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.topRightMenu>li{
	float: left;
	margin-left: 40px;
	font-size: 14px;
	line-height: 24px;
}
.topRightMenu>li:first-child {
	margin-left: 0;
}
.topRightMenu>li>a{
	float: left;
	color: #504F4F;
	padding: 10px 0px;
}
.topRightMenu>li>span{
	float: left;
	margin-right: 10px;
	color: #504F4F;
	padding: 10px 0px;
}
.MenuBar {
	float: left;
	width: 100%;
	background: #F8F8F8;
	padding: 10px 0;
	position: relative;
}
.wthFull {
	width: 100%;
  top: 66px !important;
  min-height: calc(100vh - 132px);
  padding: 0;
}
.mainMenu {
	float: left;
}
.mainMenu>ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.mainMenu>ul>li {
	float: left;
	margin-left: 40px;
	transition: all 0.3s ease;
}
.mainMenu>ul>li:first-child {
	margin-left: 0;
}
.mainMenu>ul>li>a {
	float: left;
	padding: 11px 0;
	color: #1D1D1D;
	font-size: 14px;
	line-height: 24px;
	position: relative;
	transition: all 0.3s ease;
}
.mainMenu>ul>li:hover>a, .mainMenu>ul>li.active>a {
	color: #0064BF;
}
.mainMenu>ul>li>a:before {
	position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
    width: 0;
    height: 2px;
    transition: all 0.3s ease;
    background: #0064BF;
}
.mainMenu>ul>li:hover>a:before {
	width: 100%;
}
.uk-container {
	box-sizing: border-box;
}
.uk-container .containCustom {
		padding-left: 40px;
    padding-right: 40px;
}
.containCustom {
	max-width: 1720px;
}
.containCustom2 {
	max-width: calc(1720px + 120px);
}
.menuDropDownBox {
	float: left;
	width: 100%;
	padding: 40px 0;
}
.topRight .payOnline {
	float: left;
	height: 40px;
  line-height: 20px;
  padding: 7px 15px;
  background: #E4E4E4;
  border: solid 2px #E4E4E4;
  margin: 3px 0;
  margin-right: 40px;
  color: #1D1D1D;
  transition: all 0.3s ease;
}
.topRight .payOnline:hover {
	background: #1D1D1D;
	border-color: #1D1D1D;
	color: #fff;
}
.topRight .SearchBtn {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 3px 0;
	text-align: center;
	color: #1D1D1D;
	cursor: pointer;
}
.menuDropDownBox ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menuDropDownBox ul li {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.menuDropDownBox ul li a {
	float: left;
	padding: 10px 0;
	font-size: 16px;
	color: #1D1D1D;
	position: relative;
	transition: all 0.3s ease;
}
.menuDropDownBox ul li:hover a, .menuDropDownBox ul li.active a {
	color: #0064BF;
}
.menuDropDownBox ul li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 0;
    height: 2px;
    transition: all 0.3s ease;
    background: #0064BF;
}
.menuDropDownBox ul li:hover a:before, .menuDropDownBox ul li.active a:before {
	width: 100%;
}
.menuTbox {
	float: left;
	width: 100%;
}
.menuTbox h3 {
	float: left;
	width: 100%;
	font-size: 32px;
	line-height: 40px;
	font-weight: bold;
}
.menuTbox p {
	float: left;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	margin-top: 0;
	max-width: 80%;
}
.menuTbox img {
	width: 100%;
}
.homeBanner {
	position: relative;
}
.homeBannerTxt {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
}
.homeBannerTxt h1, .homeBannerTxt h2 {
	float: left;
	font-size: 72px;
	line-height: 80px;
	font-weight: bold;
	color: #fff;
	width: 100%;
	max-width: 70%;
}
.homeBannerTxt p {
	float: left;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	width: 100%;
	max-width: 64%;
	margin-top: 0;
}
.homeBanneBtn {
	float: left;
	width: 100%;
}
.homeBanneBtn a {
	float: left;
	background: #fff;
	color: #0064BF;
	line-height: 24px;
	font-size: 18px;
	padding: 12px 30px;
	border: none;
	border-radius: 36px;
	transition: all 0.3s ease;
	margin-top: 20px;
	cursor: pointer;
}
.homeBanneBtn a:hover {
	background: #0064BF;
	color: #fff;
}
.homeBanneFull {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.homeBanneSqrBox {
	border: 1px solid #FFFFFF91;
	border-radius: 4px;
	float: right;
	padding: 30px 20px;
	width: 250px;
	text-align: center;
	overflow: hidden;
}
.homeBanneSqrBox:before {
	background: rgba(122, 122, 122, .24);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
}
.homeBanneSqrBox h4 {
	float: left;
	width: 100%;
	font-weight: bold;
	font-size: 45px;
	margin: 0;
	position: relative;
}
.homeBanneSqrBox p {
	float: left;
	width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	max-width: inherit;
	margin: 0;
	position: relative;
}
.homeBullets {
	position: absolute;
	left: 0;
	bottom: 20px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.homeBullets li {
	display: inline-block
}
.homeBullets li a {
	background: #fff;
}
.homeBanner .homeBullets>*>* {
	background: #fff;
}
.homeBanner .homeBullets>.uk-active>* {
	background: #0064BF;
}
.TickerSec {
	padding: 10px 0;
	background: #023C5A;
}
.TickerBox {
	float: left;
	width: 100%;
	margin: 0;
}
.NewsTicker {
	margin: 0;
	padding: 0;
	list-style: none;
}
.NewsTicker li {
	float: left;
	margin: 0 !important;
	color: #fff;
	position: relative;
	padding: 0 50px;
}
.NewsTicker li:first-child:before {
	display: none;
}
.acmeticker-wrap {
	float: left;
	width: calc(100% - 210px);
	overflow: hidden;
	height: 40px;
	margin-left: 15px;
}
.NewsTicker li p {
	float: left;
	margin: 0;
	margin-right: 40px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}
.NewsTicker li p:last-child {
	margin-right: 0;
}
.NewsTicker li:before {
	position: absolute;
	left: .5px;
	top: 50%;
	transform: translateY(-50%);
	height: 30px;
	width: 1px;
	background: #fff;
	content: '';
}
.viewAll {
	float: left;
	position: relative;
	z-index: 1;
	background: #fff;
	padding: 10px 20px;
	color: #074D7B;
	font-size: 14px;
	line-height: 20px;
	border: none;
	transition: all 0.3s ease;
	height: 40px;
}
.viewAll:hover {
	background: #F8F8F8;
	color: #1D1D1D;
}
.SecWrap {
	padding-bottom: 120px;
}
.SecWrap.SecTopSpace {
	padding-top: 120px;
}
.HeadingBox {
	display: inline-block;
	width: 100%;
	padding-bottom: 50px;
}
.HeadingBox h3 {
	color: #1D1D1D;
	font-size: 56px;
	line-height: 64px;
	font-weight: bold;
}
.HeadingBox p {
	color: #1D1D1D;
	font-size: 18px;
	line-height: 26px;
}
.LinkBtn {
	float: right;
	color: #0064BF;
	font-size: 18px;
	line-height: 26px;
	transition: all 0.3s ease;
}
.LinkBtn:hover {
	text-decoration: underline;
}
.blueBtn {
	float: left;
	background: #0064BF;
	color: #fff;
	line-height: 24px;
	font-size: 18px;
	padding: 12px 30px;
	border: none;
	border-radius: 36px;
	transition: all 0.3s ease;
	margin-top: 20px;
	cursor: pointer;
}
.packageBtn {
    float: left;
    background: #0064BF;
    color: #fff;
    line-height: 24px;
    font-size: 15px;
    padding: 12px 30px;
    border: none;
    border-radius: 36px;
    transition: all 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
}
.blueBtn:hover {
	background: #074D7B;
	color: #fff;
}
.blueBtn ~ .blueBtn {
	margin-left: 20px;
}
.portBox {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
	max-width: 400px;
}
.portBox img {
	width: 100%;
}
.portBox:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: url(../images/cardhover.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.3s ease;
}
.portBox:hover:before {
	opacity: 1;
}
.portBoxHover {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0  20px 30px;
	z-index: 1;
	width: 100%;
	color: #fff;
	transform: translateY(100%);
	transition: all 0.3s ease;
}
.portBoxHover h4 {
	float: left;
	width: 100%;
	color: #fff;
	font-size: 32px;
	line-height: 32px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px;
  transform: translateY(-55px);
  transition: all 0.3s ease;
}
.portBoxHover p {
	float: left;
	width: 100%;
	margin: 0;
	font-size: 22px;
}
.portBox:hover .portBoxHover {
	transform: translateY(0);
}
.portBox:hover .portBoxHover h4 {
	transform: translateY(0);
}
.SecBan {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.SecBan>img {
	width: 100%;
}
.SecBanTxt {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0 60px;
}
.SecBanInner {
	float: left;
	width: 100%;
	max-width: 460px;
}
.SecBanTxt h3 {
	color: #1D1D1D;
	font-size: 56px;
	line-height: 64px;
	font-weight: bold;
	float: left;
	width: 100%;
}
.SecBanTxt p {
	color: #1D1D1D;
	font-size: 18px;
	line-height: 26px;
	margin-top: 0;
	float: left;
	width: 100%;
}
.ScrollCarousal  {
	float: left;
	width: 100%;
}
.ScrollCarousal .uk-slider-items li {
	padding-right: 15px;
}
.ScrollCarousal .uk-slider-container {
		overflow: inherit;
}
.ScrollCarousalBox {
	float: left;
	width: 100%;
	max-width: 400px;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
}
.ScrollCarousalBox>img {
	width: 100%;
}
.ScrollCarousalBox:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: url(../images/cardhover2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.3s ease;
}
.ScrollCarousalBox:hover:before {
	opacity: 1;
}
.ScrollCarousalBoxHover {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0  20px 30px;
	z-index: 1;
	width: 100%;
	color: #fff;
	transform: translateY(100%);
	transition: all 0.3s ease;
}
.ScrollCarousalBoxHover h4 {
	float: left;
	width: 100%;
	color: #fff;
	font-size: 24px;
	line-height: 32px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px;
  transform: translateY(-55px);
  transition: all 0.3s ease;
}
.ScrollCarousalBoxHover p {
	float: left;
	width: 100%;
	margin: 0;
	font-size: 16px;
}
.ScrollCarousalBox:hover .ScrollCarousalBoxHover {
	transform: translateY(0);
}
.ScrollCarousalBox:hover .ScrollCarousalBoxHover h4 {
	transform: translateY(0);
}

.ScrollBtl {
	display: inline-block;
	float: left;
	position: relative;
	left: 50%;
	margin-top: 30px;
	width: 100%;
	max-width: 350px;
	transform: translateX(-50%);
}
.ScrollBtl .uk-dotnav>* {
	margin: 0;
	padding: 0;
	flex: 1;
	min-width: 1px;
}
.ScrollBtl .uk-dotnav>*>* {
	float: left;
	width: 100%;
	background: #0064BF;
	border: none;
	height: 4px;
	border-radius: 0;
}
.ScrollBtl li.uk-active ~ li a {
	background: #D8DADA;
}
.textLight .SecBanTxt h3 {
	color: #fff;
}
.textLight .SecBanTxt p {
	color: #fff;
}
.whiteBtn {
	float: left;
	background: #fff;
	color: #0064BF;
	line-height: 24px;
	font-size: 18px;
	border: none;
	border-radius: 36px;
	transition: all 0.3s ease;
	padding: 12px 30px;
	margin-top: 20px;
	cursor: pointer;
}
.whiteBtn:hover {
	background: #fff;
	color: #1D1D1D;
}
.whiteBtn + .whiteBtn {
	margin-left: 15px;
}
.badgeBox {
	position: absolute;
	left: 20px;
	top: 20px;
	background: #E4E4E4;
	color: #1D1D1D;
	border-radius: 8px;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.cardsCarousel .uk-card {
	max-width: 400px;
	border-radius: 4px;
	overflow: hidden;
	float: left;
}
.cardsCarousel .uk-card-body {
    padding: 30px 30px;
}
.badgeBox ~ .badgeBox {
	margin-left: 10px;
}
.cardsCarousel .badgeBox {
	position: relative;
	display: inline-block;
  left: 0;
  top: 0;
  background: #E4E4E4;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 6px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-weight: 400;
}
.cardsCarousel h3 {
	font-size: 24px;
	line-height: 32px;
	color: #0064BF;
	font-weight: bold;
	margin-top: 0;
}
.cardsCarousel p {
	font-size: 16px;
	color: #1D1D1D;
	margin-top: 0;
}
.SecBanInner.fullWidth {
	max-width: inherit;
}
.textLight .LinkBtn {
	color: #fff;
}
.infoBox {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
.infoBox .badgeBox {
	float: left;
	color: #0064BF;
	font-size: 12px;
	line-height: 20px;
	font-weight: 500;
}
.Newsbox h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}
.Newsbox p {
    font-size: 14px;
    line-height: 20px;
    color: #1D1D1D;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.autherName {
	float: left;
	margin: 5px 15px;
	font-size: 12px;
	line-height: 20px;
	font-weight: 500;
	 color: #1D1D1D;
}
.dateInfo {
	float: left;
	margin: 5px 0;
	font-size: 12px;
	line-height: 20px;
	 color: #606060;
}
.flrigt {
	float: right;
}
.Newsbox {
	transform: translateY(-50%);
	position: relative;
	padding: 0 60px;
}
footer {
	background: #fff;
	padding: 60px 0 20px;
	color: #1D1D1D;
	border-top: 2px solid #eee;
}
footer a:hover {
	color: #0064BF;
}
.ftrLinks {
	float: left;
	width: 100%;
}
.ftrLinks h6 {
	float: left;
	width: 100%;
	font-size: 14px;
	color: #0064BF;
	font-weight: 500;
	margin-bottom: 30px;
}
.ftrLinks ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.ftrLinks ul li {
	float: left;
	width: 100%;
	margin: 0 0 10px;
}
.ftrLinks ul li a {
	float: left;
	font-size: 12px;
	line-height: 20px;
	transition: all 0.3s ease;
}
.ftrLinks ul li a:hover {
	color: #0064BF;
}
.ftrAddress {
	float: left;
	width: 100%;
	max-width: 170px;
}
.ftrAddress p {
	float: left;
	width: 100%;
	font-size: 12px;
	margin: 0 0 10px;
}
.ftrlogo {
	float: left;
}
.crfBtn {
	float: left;
	background: transparent;
	border: solid 1px #EC1C21;
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 14px;
	color: #EC1C21;
	transition: all 0.3s ease;
}
.crfBtn:hover {
	background: #EC1C21;
	color: #fff;
}
.apiBtns {
	float: right;
}
.apiBtns a {
	float: left;
	margin-left: 20px;
	width: 100%;
	max-width: 135px;
}
.copyRights {
	float: left;
	width: 100%;
	max-width: 180px;
}
.copyRights p {
	margin: 0;
	font-size: 14px;
}
.cocBtn {
	float: left;
	margin: 10px 0;
	font-size: 14px;
}
.SocialLinks {
	float: right;
}
.SocialLinks ul {
	float: left;
	margin: 10px 0;
	padding: 0;
	list-style: none;
}
.SocialLinks ul li {
	float: left;
	margin-left: 12px;
}
.SocialLinks ul li a {
	float: left;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.designDevelop {
	float: left;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}
.ftrbtmLink {
	float: right;
	margin: 0;
	position: 0;
	list-style: none;
}
.ftrbtmLink1 {
	float: left;
	margin: 0;
	position: 0;
	list-style: none;
}
.ftrbtmLink li, .ftrbtmLink1 li {
	float: left;
	font-size: 12px;
	margin-left: 30px;
	line-height: 20px;
}
.ftrbtmLink li a, .ftrbtmLink1 li a {
	float: left;
}
.HeaderInnerPage {
	position: relative;
}
.HeaderInnerPage>img {
	width: 100%;
}
.HeaderInnerTxt {
	position: absolute;
	left: 0;
	bottom: 80px;
	width: 100%;
	color: #fff;
}
.HeaderInnerTxt*>:last-child {
	margin-bottom: 0;
} 
.HeaderInnerTxt h1 {
	float: left;
	width: 100%;
	font-size: 56px;
	line-height: 64px;
	color: #fff;
	font-weight: bold;
	max-width: 500px;
}
.HeaderInnerTxt p {
	float: left;
	width: 100%;
	font-size: 18px;
	line-height: 26px;
	margin-top: 0;
}
.HeaderInnerTxt a {
	float: left;
	background: none;
	color: #fff;
	line-height: 24px;
	font-size: 18px;
	padding: 12px 30px;
	border: none;
	border-radius: 36px;
	transition: all 0.3s ease;
	margin-top: 20px;
	cursor: pointer;
	border: solid 1px #fff;
}
.HeaderInnerTxt a:hover {
	background: #fff;
	color: #0064BF;
}
.fullWidth.HeaderInnerTxt h1 {
	max-width: inherit;
}
.innerPageContent {
	float: left;
	width: 100%;
}
.innerPageContent h2 {
	float: left;
	width: 100%;
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.innerPageContent h3 {
	float: left;
	width: 100%;
	color: #1D1D1D;
	font-size: 36px;
	line-height: 44px;
	font-weight: bold;
	margin-top: 0px;
}
.innerPageContent p {
	float: left;
	width: 100%;
	margin-top: 0;
}
.boxyDesign {
	float: left;
	width: 100%;
	color: #fff;
	position: relative;
}
.boxyDesignImg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.boxyDesignImg img {
	width: 100%;
}
.boxyDesignTxt {
	float: right;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #0064BF;
	background-image: url(../images/pattren.svg);
	position: relative;
	margin-top: 240px;
	margin-right: 130px;
	padding: 65px 55px;
	max-width: 670px;
}
.boxyDesignTxt h3, .boxyDesignTxt h4, .boxyDesignTxt h5 {
	float: left;
	width: 100%;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 0;
}
.boxyDesignTxt h3 {
	font-size: 32px;
	line-height: 40px;
	font-weight: bold;
}
.boxyDesignTxt h4 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
}
.boxyDesignTxt p {
	float: left;
	width: 100%;
	margin-top: 0px;
	font-size: 18px;
}
.boxyDesignTxt ul {
	float: left;
	width: 100%;
	margin-top: 0px;
}
.boxyDesignTxt ul li {
	float: left;
	width: 100%;
	font-size: 18px;
}
.boxyDesignTxt .blueBtn {
	border: solid 1px #fff;
}
.boxyDesignTxt .blueBtn:hover {
	border-color: #074D7B;
}
.GridBox {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 550px;
}
.GridBox>img {
	width: 100%;
}
.GridBoxTxt {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 40px 40px;
	color: #fff;
	max-width: 450px;
}
.GridBoxTxt h3 {
	color: #fff;
	float: left;
	width: 100%;
	font-size: 45px;
	line-height: 52px;
	font-weight: bold;
}
.GridBoxTxt p {
	float: left;
	width: 100%;
	font-size: 18px;
	margin-top: 0;
}
.ourPartners {
	float: left;
	width: 100%;
	text-align: center;
}
.ourPartners h3 {
	font-size: 36px;
	line-height: 44px;
	font-weight: bold;
	margin-bottom: 50px;
}
.partnersImg {
	float: left;
	margin-right: 40px;
}
.innerPageContent2 {
	float: left;
	width: 100%;
}
.innerPageContent2 h2 {
	font-size: 45px;
    line-height: 52px;
    font-weight: bold;
}
.cbox {
	float: left;
	width: 100%;
	max-width: 460px;
}
.innerPageContent2 h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}
.innerPageContent2 p a {
	color: #0064BF;
}
.addressicons {
	display: inline-block;
	width: 100%;
}
.addressicons p svg {
	margin-left: -30px;
	float: left;
}
.addressicons p {
	padding-left: 30px;
}
.breadcrumb {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, .8);
	padding: 10px 25px;
}
.uk-breadcrumb {
	margin: 0;
}
.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
	color: #585E62;
}
.uk-breadcrumb li a {
	font-size: 12px;
	color: #0064BF;
	font-weight: 500;
	line-height: 20px;
}
.uk-breadcrumb li span {
	font-size: 12px;
	color: #585E62;
	line-height: 20px;
}
.DisclaimerBox {
	display: inline-block;
	width: 100%;
	padding-top: 50px;
}
.DisclaimerBox img {
	margin-top: 30px;
}
.tabsSec {
	float: left;
	width: 100%;
}
.tabBtn {
	float: left;
	width: 100%;
	margin: 0 0 40px;
	padding: 0;
	list-style: none;
}
.tabBtn li {
	float: left;
	margin-left: 40px;
}
.tabBtn li:first-child {
	margin-left: 0;
}
.tabBtn li a {
	float: left;
	padding: 10px 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	position: relative;
	transition: all 0.3s ease;
}
.tabBtn li a:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: #0064BF;
	content: '';
	transition: all 0.3s ease;
}
.tabBtn li.uk-active a:before, .tabBtn li.uk-active_tb a:before {
	width: 100%;
}
.tabBtn li.uk-active a, .tabBtn li:hover a, .tabBtn li.uk-active_tb a {
	color: #0064BF;
}
.TabBox {
	float: left;
	width: 100%;
}
.TabBox >li {
	float: left;
	width: 100%;
}
.tabInner {
	float: left;
	width: 100%;
}
.tabInner h3 {
    font-size: 24px;
    line-height: 32px;
    color: #0064BF;
    font-weight: bold;
    margin-top: 0;
    float: left;
    width: 100%;
}
.tabInner p {
    font-size: 16px;
    color: #1D1D1D;
    margin-top: 0;
    float: left;
    width: 100%;
}
.tabInner .uk-card-body {
	position: relative;
    padding: 40px 40px;
    padding-bottom: 100px;
}
.tabInner span {
    font-size: 14px;
    color: #000000;
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-weight: 500;
}
.detailsPage {
	float: left;
	width: 100%;
	padding: 80px 70px 0;
	background: #F6F6F6;
	margin-top: -80px;
	position: relative;
	z-index: 1;
	color: #000;
}
.ovverflowAuto {
	overflow: initial;
}
.detailsPage h1 {
	font-size: 56px;
    line-height: 64px;
    font-weight: bold;
}
.detailsPage h6 {
	font-size: 18px;
    line-height: 26px;
}
.detailsPage h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.uk-card-media-top img {
	width: 100%;
}
.NewsFilter {
	float: left;
	width: 100%;
	padding-bottom: 60px;
}
.NewsFilter .uk-select:not([multiple]):not([size]) {
    padding-right: 30px;
    background-image: url(../images/selectdown.svg);
    background-repeat: no-repeat;
   	background-position: 99% 50%;
    background-size: 30px 30px;
    max-width: 224px;
    margin-right: 20px;
    border-radius: 4px;
    border: solid 1px #EDEDED;
    height: 50px;
    font-size: 12px;
    color: #1D1D1D;
    float: left;
}
.NewsFilter .blueBtn {
	margin-top: 5px;
}
.NewsSec {
	display: inline-block;
	width: 100%;
	padding-bottom: 60px;
}
.newsCard {
	float: left;
	width: 100%;
}
.newsCard h3 {
    font-size: 24px;
    line-height: 32px;
    color: #0064BF;
    font-weight: bold;
    margin-top: 0;
    float: left;
    width: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.newsCard p {
	float: left;
	width: 100%;
	margin-top: 0;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.newsCard ul {
	list-style: none;
	padding: 0;
	float: left;
	width: 100%;
	margin-top: 0;
}
.newsCard ul li:last-child {
	margin-bottom: 0;
}
.newsCard ul li {
	padding-left: 30px;
	background-image: url(../images/icons/tick.svg);
	background-repeat: no-repeat;
	background-position: left 3px;
	margin-bottom: 15px;
}
.newsCard .uk-card-body {
    position: relative;
    padding: 40px 40px;
    padding-bottom: 140px;
}
.newsCard .blueBtn {
	position: absolute;
	left: 40px;
	bottom: 40px;
}
.dateNews {
	position: absolute;
	right: 40px;
	bottom: 52px;
}
.NewsPagination {
	float: left;
	width: 100%;
}
.NewsPagination .uk-pagination>*>* {
	color: #1D1D1D;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	text-align: center;
	line-height: 32px;
}
.NewsPagination .uk-pagination>.uk-active>* {
    color: #fff;
    background: #1D1D1D;
}
.innerPageContent2 h2 a {
	float: right;
	color: #0064BF;
	font-size: 24px;
	text-decoration: underline;
}
.whiteTabsSec h2 {
	color: #1D1D1D;
    font-size: 56px;
    line-height: 64px;
    font-weight: bold;
    float: left;
    width: 100%;
}
.tabBtn2 {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.tabBtn2 li {
	float: left;
}
.tabBtn2 li a {
	float: left;
	padding: 20px 20px;
}
.tabBtn2 li.uk-active a {
	background: #fff;
	color: #0064BF;
}
.tabsContent {
	float: left;
	width: 100%;
	background: #fff;
	padding: 40px 40px;
}
.tabsContent h3 {
	font-size: 24px;
	font-weight: bold;
}
.tabsContent *+h3 {
	margin-top: 40px;
}
/*{
	background: #0064BF17;
}*/
.uk-table th {
	background: #0064BF17;
	color: #1D1D1D;
	font-weight: bold;
}
.uk-table-divider>:first-child>tr:not(:first-child), .uk-table-divider>:not(:first-child)>tr, .uk-table-divider>tr:not(:first-child) {
	border-color: #DDDDDD;
}
.tabsFormBox {
	float: left;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	border-radius: 5px;
	padding: 40px;
	/* max-width: 720px; */
}
.tabsFormBox .uk-select:not([multiple]):not([size]) {
    padding-right: 30px;
    background-image: url(../images/selectdown.svg);
    background-repeat: no-repeat;
   	background-position: 99% 50%;
    background-size: 30px 30px;
    border-radius: 4px;
    border: solid 1px #EDEDED;
    height: 50px;
    font-size: 14px;
    color: #1D1D1D;
}
.tabsFormBox .uk-input {
    border-radius: 4px;
    border: solid 1px #EDEDED;
    height: 50px;
    font-size: 14px;
    color: #1D1D1D;
}
.chartSec {
	display: inline-block;
	width: 100%;
	margin: 40px 0;
}
.DownloadList {
	float: left;
	width: 100%;
}
.DownloadList ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.DownloadList ul li {
	float: left;
	width: 100%;
	margin-bottom: 1px;
}
.DownloadList ul li a {
	float: left;
	width: 100%;
	background: #E4E4E4;
	padding: 20px 40px;
	transition: all 0.3s ease;
}
.DownloadList ul li a:hover {
	background: #0064BF;
	color: #fff;
}
.DownloadList ul li a svg {
	float: right;
}
.seeAll {
	float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.seeAll a {
	transition: all 0.3s ease;
	display: inline-block;
}
.seeAll a:hover {
	color: #0064BF;
}
.clrblue {
	color: #0064BF;
}
.tabsContent .uk-accordion-content a {
	color: #0064BF;
}
.tabsContent .uk-accordion>li {
	border-bottom: solid 1px #E4E4E4;
}
.tabsContent .uk-accordion>:nth-child(n+2) {
	margin-top: 10px;
}
.tabsContent .uk-accordion-title {
	padding: 15px 0;
}
.tabsContent .uk-accordion-content {
	margin-top: 10px;
    margin-bottom: 20px;
}
.financialModal .uk-modal-body {
	padding: 40px 70px;
}
.financialModal h3 {
	font-size: 32px;
	line-height: 40px;
	font-weight: bold;
}
.searchList {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}
.searchList .uk-search-default {
	width: 100%;
}
.searchList .uk-search-default .uk-search-input {
    border-radius: 4px;
    border: solid 1px #cdcaca;
    height: 50px;
    font-size: 14px;
    color: #1D1D1D;
    background: #fff;
}
.badgesBar {
	float: left;
	width: 100%;
	position: relative;
}
.badgesBar .badgeBox {
	position: relative;
	float: left;
    left: 0;
    top: 0;
    margin-bottom: 10px;
}



.WhiteBgSection {
    background-color: #fff;
}
.SecBottomSpace {
    padding-bottom: 240px;
}
.SvgBlue svg {
    color: #0064BF;
}
.Mt40 {
    margin-top: 40px;
}
.formInput {
    display: block;
    position: relative;
}
.FormBtn a {
    color: #0064BF;
}
.WhiteBgSection .innerPageContent p {
    font-size: 18px;
    font-weight: 400;
} 



.BlockHeading{
	font-size: 45px;
	letter-spacing: -1.08px;
	line-height: 52px;
	font-weight: bold;

}
.Content h5 {
    color: #1D1D1D;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
}
.Content p {
    font-size: 18px;
    color: #1D1D1D;
    line-height: 24px;
	font-weight: 400;
}

.innerPageContent h4{
	font-weight: bold;
	font-size: 45px;
	color:#1D1D1D;
	line-height: 52px;

}

.coverSection{
	height: 400px;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.CoverBgContent h3 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    line-height: 44px;
}
.CoverBgContent {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
}
.transparentbtn{
	float: left;
	border: 1px solid #fff;
    background: transparent;
    color: #fff;
    line-height: 24px;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 36px;
    transition: all 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
	margin-right: 30px;
}
.transparentbtn:hover{
	color: #0064BF;
	background: #fff;
}
.JobForm .uk-select {
    max-width: 100% !important;
}
.JobForm label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color: #1D1D1D;
    font-weight: 500;
}
.JobForm input {
    height: 50px;
    font-size: 12px;
    color: #1D1D1D;
    float: left;
}
.JobForm textarea {
    font-size: 12px;
    color: #1D1D1D;
}

.JobForm input::-webkit-input-placeholder{
	color: #1D1D1D;
}
.GuideSearchInput input{
padding-right: 30px;
background-image: url(../images/icons/search.svg);
background-repeat: no-repeat;
background-position: 95% 50%;
background-size: 16px 16px;
max-width: 224px;
margin-right: 20px;
border-radius: 4px;
border: solid 1px #EDEDED;
height: 50px;
font-size: 12px;
color: #1D1D1D;
float: left;
}

.GuideImgTop {
    position: relative;
}
.detailsPage h6 {
    font-size: 16px;
    color: #1D1D1D;
    line-height: 24px;
    font-weight: bold;
}
.brandPortfolio {
    position: relative;
    display: block;
    width: 100%;
}
.badgeBoxDownlaod {
    position: absolute;
    bottom: 60px;
    right: 20px;
}
.brandPortfolio p {
    font-size: 16px;
    line-height: 24px;
}
.detailsPage h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 60px;
}
/* .testimonialCard p {
    width: 45%;
    margin: 0px auto;
	float: none;
} */
.rate {
    width: 100%;
    display: flex;
    justify-content: center;
	margin-top: 20px;
}
.rate ul li {
    float: left;
    margin: 7px;
}
.rate ul {
    display: inline-block;
    list-style: none;
	padding: 0px;
}
.ratingBody {
    width: 100%;
    float: left;
    display: block;
}
.ratingBody span {
    width: 45%;
    margin: 0px auto;
    text-align: center;
    color: #1D1D1D;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.ratingBody {
    width: 100%;
    display: flex;
}

.ratingFooter {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 40px;
	margin-bottom: 40px !important;
}
.rate ul li svg path {
    fill: #9dafbd;
    color: #9dafbd;
}
.ratingFooter p {
    margin: 0;
}
.SecBanContent{
	width:100%;
	display: block;
}
.ContactAddress span {
    width: 8%;
    float: left;
}
.ContactAddress p {
    float: left;
    width: 90%;
}
.contactLeftContent ul li {
    list-style: none;
}
.contactLeftContent ul {
    padding: 0;
}
.addressicons p a {
    color: #0064BF;
    text-decoration: underline;
}
.footBtn {
    float: left;
    /* background: transparent; */
    /* border: solid 1px #EC1C21; */
    padding: 10px 60px;
    border-radius: 4px;
    font-size: 14px;
    color: #0064BF;
    transition: all 0.3s ease;
}
.js-upload.uk-placeholder {
    border: 1px dashed #000;
    padding: 70px;
}
.contactRightContent h3 {
    font-size: 24px;
    color: #1D1D1D;
    font-weight: bold;
}
.contactRightContent label {
    color: #1D1D1D;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}
.contactRightContent input, .contactRightContent .NewsFilter1 select {
    height: 50px !important;
    font-size: 14px !important;
    color: #1D1D1D !important;
}
.selectForm.uk-form-custom {
    /* border: 1px solid; */
    width: 100%;
    margin: 0pxa;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.selectForm.uk-form-custom span {
    margin-top: 20px;
    border: 1px solid #000;
    display: block;
    width: 25%;
    color: #000;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactRightContent textarea {
    resize: none;
}
.JobForm.NewsFilter textarea {
    resize: none;
	font-size: 12px;
    color: #1D1D1D;
}
.contactRightContent .uk-form-custom input[type=file], .uk-form-custom select {
    position: absolute;
    top: 20px;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
	height: 60px !important;
}
.uk-card.faqsCard {
    position: relative;
    background: #fff;
    display: flex;
    width: 100%;
	border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.faqsCard h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    margin: 0px;
}
.faqsCard h6 {
    font-size: 24px;
    color: #1D1D1D;
    margin: 8px 0px 15px 0px;
    line-height: 36px;
}
.uk-card.faqsCard span {
    font-size: 14px;
    line-height: 20px;
}

.faqsCard .uk-card-body {
    width: 90%;
    float: left;
}
.faqsCard .uk-card-footer {
    width: 10%;
    float: left;
    margin-top: 2%;
    border: none;
	text-align:center;
}
.FaqAccordion ul li {
    display: block;
    background-color: #fff;
    height: 100%;
    padding: 40px 34px;
    margin: 0px !important;
    border: 1px solid #DDDDDD;
}
ul.uk-accordion li a {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}
.FaqAccordion li .uk-accordion-content p {
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}
.FaqAccordion li.uk-open a {
    color: #0064BF;
}
.FaqAccordion .uk-accordion-content {
    margin: 10px 0px 0px 0px;
}
.homeBanneBtn a {
    margin-right: 20px;
}
.HeadingBox {
    padding-bottom: 30px;
}
.Newsbox h3 {
    font-size: 16px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.CorporateCard{
background-color: #F5F5F5;
}
.orbisContent {
    background-color: #fff;
}
.orbisContent tr th {
    color: #0064BF;
}
.FormTabs {
    border: 1px solid #DDDDDD;
    padding: 30px;
    border-radius: 4px;
	font-size: 14px;
}
.FormTabs h6 {
    font-size: 16px;
    font-weight: bold;
}
.FormTabs label {
    color: #1D1D1D;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
}
.FormTabs input.uk-checkbox{
    margin-right: 10px;
	border-radius: 3px;
	height: 15px;
    margin-top: 4px;
}
ul.topRightMenu.stickyTopBar li {
    margin-left: 20px;
}
li.appointment, li.PhoneTopSticky {
    margin-top: 7px;
}
li.appointment a {
    padding: 5px 25px;
    background-color: #0064BF;
    color: #fff;
    border-radius: 40px;
    font-size: 14px;
}
li.PhoneTopSticky a{
	padding: 5px 25px;
    background-color: #FFF;
    color: #0064BF;
    border-radius: 40px;
    font-size: 14px;
}
.topBar.topBarsticky {
    background-color: #023C5A;
}
ul.topRightMenu.stickyTopBar span {
    padding: 0;
	line-height: 15px;
    margin-top: 10px;
	color:#FFFFFF;
}
li.PACRA {
	color: #fff;
    background-color: #12845A;
    padding: 5px 30px;
    text-align: center;
    border-radius: 5px;
    line-height: 15px;
}
li.PACRA h6 {
    margin: 0;
    font-weight: bold;
    color: #ffff;
}
li.PACRA span {
    font-size: 12px;
    font-weight: 100;
	color: #ffff;
}
li.WhitePACRA{
	color: #12845A;
    background-color: #fff;
    padding: 5px 30px;
    text-align: center;
    border-radius: 5px;
    line-height: 15px;
	margin-left: 10px;
}
li.WhitePACRA h6 {
	margin: 0;
    font-weight: bold;
    color: #12845A;
}
li.WhitePACRA span {
    font-size: 12px;
    font-weight: 100;
	color: #000;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 10000;
}
ul.faqsitems.uk-accordion {
    border: 1px solid #eee;
    /* padding: 20px; */
}
ul.faqsitems.uk-accordion li {
    border-bottom: 1px solid #eee;
	padding: 20px;
}
ul.faqsitems.uk-accordion li.uk-open a {
    color: #0064BF;
}
.sendMessage {
    display: block;
    float: left;
    background-color: #fff;
    padding: 70px;
    border-radius: 4px;
	margin-top: 3%;
}
.educationItem h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.education p {
    color: #0064BF;
    font-size: 24px;
    margin-bottom: 30px;
}
.orbisContent tr {
    border-bottom: 1p;
    border-bottom: 1px solid #eee;
}
.badgesBarDiscount .badgeBox {
    padding: 5px 10px;
}
.discounts .uk-card-body {
    padding-bottom: 50px !important;
}
.see-all a {
    color: #0064BF;
    font-size: 16px;
}
.searchFormDiscount input {
    width: 100%;
    max-width: 100%;

}
.searchFormDiscount .GuideSearchInput input {
    padding-right: 50px;
}
.discountBadge .badgeBox {
    background: #fff;
    color: #0064BF;
    font-weight: bold;
}

.bookAppointment label {
    display: flex;
    border: solid 1px #000000;
    border-radius: 6px;
    width: 40px;
    height: 24px;
    margin: 5px;
    color: #1D1D1D;
    background-color: white;
    text-align: center;
    line-height: 20px;
    float: left;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
}
.bookAppointment label img {
    width: 20px;
    margin-right: 5px;
}

.bookAppointment input[type=checkbox] {
    display: none;
}

.bookAppointment input:checked+label {
    transition: all 0.5s ease-in-out;
    border: solid 2px #000;
    color: white;
    background-color: #000;
}
.bookAppointment label:hover {
    cursor: pointer;
}
.bookAppointment input[type="submit"]{
     border-radius: 15px;
    width: 100px;
    height: 40px;
    margin: 10px;
  margin-top:30px;
  float:left;

}
.bookAppointment input[type="submit"]:hover{
  cursor:pointer;
  background-color:black;
  color:white; 
}
img.rateImg {
    width: 20%;
	margin: 0;
}
ul.productContentList ol {
    list-style: circle;
}
ul.productContentList li ol li {
    background-image: none;
    padding: 0px 10px;
}
.addressicons.vacancy p svg {
    margin-top: 5px;
}
.LinkedinBtn {
    display: block;
    width: 100%;
    float: left;
    margin-top: 3%;
    border-top: 1px solid #eee;
}
a.Linkedin {
    margin-top: 3%;
    display: block;
    background-color: #0976B4;
    max-width: 200px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.LinkedinBtn svg {
    margin-right: 7px;
}

.employeeBtn{
	float: left;
	background: transparent;
	color: #0064BF;
	line-height: 24px;
	font-size: 18px;
	padding: 10px 30px;
	border: 1px solid #0064BF;
	border-radius: 36px;
	transition: all 0.3s ease;
	margin-top: 20px;
	cursor: pointer;
	margin-right:20px
}

.employeeBtn:hover {
	color: #0064BF;
}
.tabBtn.BankTab li {
    float: left;
    margin-left: 20px;
}
.tabBtn.BankTab li a {
    float: left;
    padding: 10px 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
}
.tabsContent.financialTabli ul li p {
    margin-top: 0px;
}
.tabsContent.financialTabli ul li h5 {
    margin: 0;
}
.ratingBody.experiencebody span {
    width: 100%;
}
.detailsPage ul li h6 {
    margin: 0;
}
.detailsPage ul li p {
    margin: 0;
    margin-bottom: 15px;
}


/* multi step start */

.wrappermultiform{
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0px;
	border-radius: none;
}

.wrappermultiform .header{
	margin-bottom: 35px;
	display: block;
	/* justify-content: center; */
}

.wrappermultiform .header ul{
	display: flex;
    padding: 0;
}

.wrappermultiform .header ul li{
    margin-right: 20px;
    position: relative;
    list-style: none;
    width: 180px;
    height: 2px;
}

.wrappermultiform .header ul li:last-child{
	margin-right: 0;
}

.wrappermultiform .header ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
	width: 100%;
	height: 2px;
	background: #E4E4E4;
}

.wrappermultiform .header ul li:last-child:before{
	/* display: none; */
}

.wrappermultiform .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrappermultiform .header ul li p{
	width: 50px;
	height: 50px;
	background: blue;
	color: #000;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.wrappermultiform .header ul li.active:before{
	background: #0064BF;
}

.wrappermultiform .header ul li.active p{
	background: red;
}
.wrappermultiform .form_wrap h2{
	color: var(--header-clr);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.wrappermultiform .form_wrap .input_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
}

.wrappermultiform .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrappermultiform .form_wrap .input_wrap label{
	display: block;
	margin-bottom: 5px;
}

.wrappermultiform .form_wrap .input_wrap .input{
	border: 2px solid var(--secondary);
	border-radius: 3px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
}

.wrappermultiform .form_wrap .input_wrap .input:focus{
	border-color: var(--primary);
}
.btns_wrap{
    width:100%;
    display:block;
    float: left;
}

/* .wrappermultiform .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
} */

.wrappermultiform .btns_wrap .common_btns{
	display: flex;
	/* justify-content: space-between; */
}



.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: #fff;
	padding: 50px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: var(--primary);
	color: var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}
.employeeForm {
    width: 100%;
    display: block;
    float: left;
}
.btn_next.blueBtn , .btn_next_calculation.blueBtn{
    float: left;
    border: 1px solid #0064BF;
    background: #0064BF;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    padding: 12px 16px 12px 25px;
    border-radius: 36px;
    transition: all 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
    }
button.btn_next.blueBtn svg {
    margin-left: 9px;
}
.form_wrap input.uk-checkbox {
    margin-right: 10px;
    border-radius: 3px;
    height: 15px;
    margin-top: 4px;
}
.form_wrap input.uk-radio {
    display: inline-block;
    height: 16px !important;
    width: 16px;
    overflow: hidden;
    margin-top: 3px;
    margin-right: 10px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #ccc;
    transition: .2s ease-in-out;
    transition-property: background-color,border;
    }
    .btn_back.transparentbtn, .btn_back_calculation.transparentbtn {
    float: left;
    border: 1px solid #0064BF;
    background: transparent;
    color: #0064BF;
    line-height: 20px;
    font-size: 14px;
	padding: 12px 26px 12px 16px;
    border-radius: 36px;
    transition: all 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
    }
    .form_wrap h5 {
    font-weight: bold;
    font-size: 16px;
    }
/* multi step end */

input#chk-Yes, input#chk-No {
    margin-top: 1%;
}
.contactLeft .uk-card-body {
    padding: 40px 20px !important;
}
.category .uk-checkbox {
    border-radius: 50%;
}
.Employee-Form_main .category label {
    border: 1px solid #eee;
    margin-right: 10px;
    padding: 5px 15px 5px 10px;
    display: inline-block;
    /* float: left; */
    margin-bottom: 20px;
    background-color: #FAFAFA;
    font-size: 14px;
    border-radius: 25px;
    color: #000000;
}
.Employee-Form_main .email {
    width: 50%;
	font-size: 12px;
	color: #000;
}
.Employee-Form_main h6 {
    font-size: 24px;
    color: #1D1D1D;
    line-height: 89px;
}
.email label {
    font-size: 14px;
    color: #1D1D1D;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
}
.CustomToolTip {
    width: 20px;
    float: right;
}
div#modal-education .uk-modal-dialog, #modal-calculation .uk-modal-dialog, #modal-calculation-result .uk-modal-dialog {
    width: 100%;
    padding: 0;
	height: 100%;
	overflow-x: hidden;
    overflow-y: scroll;
	background: #F7F7F7;
}
div#modal-education .uk-modal-header , #modal-calculation .uk-modal-header, #modal-calculation-result .uk-modal-header {
background: #F7F7F7;
}
div#modal-education , #modal-calculation , #modal-calculation-result {
padding: 0;
z-index: 11000;
}
div#modal-education .uk-modal-body , #modal-calculation .uk-modal-body, #modal-calculation-result .uk-modal-body {
padding: 0;	
}

.uk-tooltip {
display: none;
position: absolute;
z-index: 11000;
--uk-position-offset: 10px;
--uk-position-viewport-offset: 10;
top: 0;
box-sizing: border-box;
max-width: 350px;
padding: 3px 6px;
background: #666;
border-radius: 2px;
color: #fff;
font-size: 12px;
}
div#thank-you h4 {
font-size: 28px;
line-height: 36px;
margin-bottom: 10px;
font-weight: bold;
}
div#thank-you p {
margin: 0;
}
div#thank-you .uk-modal-dialog {
border-radius: 5px;
}
.claimForm {
	background-color: #fff;
	color: #666;
	box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
	padding: 40px;
}
.claimForm .selectForm.uk-form-custom span {
	width: 35%;
	font-size: 14px;
}
.claimForm .cbox h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.ratingFooter {
    margin-bottom: 0 !important;
}
.childInfo {
    margin-bottom: 20px;
}
.childInfo h5  {
    max-width: 700px;
}
.childInfo a {
    border: 1px solid;
    padding: 0px 5px;
    border-radius: 50%;
    float: right;
    line-height: 17px;
    width: 20px;
    height: 20px;
}


a#addChild {
    color: #1e87f0;
    text-decoration: underline;
}
button.btn_skip_calculation {
    margin: 30px 0px 0px auto;
    border: navajowhite;
    background: no-repeat;
    color: #0064BF;
    font-size: inherit;
    line-height: 20px;
    cursor: pointer;
	text-decoration: underline;
}
.uk-container-small.mtauto {
    margin: 32px auto;
}
.Calculateresult tr:last-child {
    border-top: 1px solid #eee;
    margin-top: 20px;
}
.Calculateresult tr:last-child td {
    color: #0064BF;
    font-size: 20px;
    font-weight: 600;
}
.form_7_btns_calculation_result {
    position: relative;
}

.form_7_btns_calculation_result .uk-modal-close-default{
	position: absolute;
    top: 10px;
    right: none;
	padding: 10px 20px;
}
#claim-process .uk-modal-dialog {
    border: 1px solid #D1DBE3;
    border-radius: 5px;
}
#claim-process h4 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
}
#claim-process p {
    font-size: 16px;
    color: #1D1D1D;
}
#claim-process p a {
    color: #0064BF;
    font-weight: bold;
}
.addressiconsleft svg {
    width: 20px;
    float: left;
    margin-right: 10px;
}
.pagination-wrapper ul li {
    display: inline-block;
    padding: 0px 15px;
}
.pagination-wrapper ul.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.TabBox.js-filter {
    list-style: none;
}
/*Responsive Start */
@media screen and (max-width: 1680px) {
.containCustom {
  max-width: 1300px;
}
.containCustom2 {
    max-width: calc(1300px + 120px);
}
.homeBannerTxt h1, .homeBannerTxt h2 {
	font-size: 64px;
	line-height: 70px;
}
.homeBannerTxt p {
	font-size: 20px;
	line-height: 28px;
	max-width: 78%;
}
.homeBanneBtn a {
    line-height: 20px;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 20px;
}
.homeBanneSqrBox h4 {
    font-size: 36px;
}
.homeBanneSqrBox p {
    font-size: 16px;
    max-width: inherit;
}
.homeBanneSqrBox {
    padding: 20px 20px;
    width: 210px;
}
.HeadingBox h3 {
	font-size:  46px;
	line-height: 56px;
}
.HeadingBox p {
    font-size: 16px;
    line-height: 24px;
}
.blueBtn {
    line-height: 20px;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
}
.whiteBtn {
	line-height: 20px;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
}
.portBox {
	max-width: 350px;
}
.portBoxHover h4 {
    font-size: 26px;
}
.portBoxHover p {
    font-size: 18px;
}
.SecBanTxt h3 {
    font-size: 46px;
    line-height: 56px;
}
.SecBanTxt p {
    font-size: 16px;
    line-height: 24px;
}
.LinkBtn {
    font-size: 16px;
    line-height: 24px;
}
.ScrollCarousalBox {
	max-width: 350px;
}
.cardsCarousel .uk-card {
  max-width: 350px;
}
.cardsCarousel .uk-card-body {
    padding: 30px 20px;
}
.cardsCarousel .badgeBox {
    font-size: 12px;
    line-height: 20px;
}
.Newsbox h3 {
	font-size: 18px;
	line-height: 24px;
}
.Newsbox p {
    font-size: 14px;
    line-height: 20px;
}
.HeaderInnerTxt h1 {
	font-size: 46px;
    line-height: 56px;
}
.HeaderInnerTxt p {
	font-size: 16px;
    line-height: 24px;
}
.innerPageContent h3 {
	font-size: 34px;
    line-height: 40px;
}
.boxyDesignTxt {
	margin-top: 200px;
    margin-right: 90px;
    padding: 45px 35px;
    max-width: 580px;
}
.boxyDesignTxt h4 {
    font-size: 22px;
    line-height: 32px;
}
.boxyDesignTxt p {
    font-size: 16px;
}
.boxyDesignTxt ul li {
    font-size: 16px;
}
.GridBoxTxt h3 {
	font-size: 42px;
    line-height: 50px;
}
.GridBoxTxt p {
    font-size: 16px;
}
.GridBoxTxt {
    max-width: 420px;
}
.menuTbox h3 {
	font-size: 30px;
	line-height: 36px;
}
.innerPageContent2 h4 {
    font-size: 22px;
    line-height: 32px;
}
.detailsPage h1 {
    font-size: 46px;
    line-height: 56px;
}
.tabInner .uk-card-body {
    position: relative;
    padding: 30px 20px;
    padding-bottom: 80px;
}
.tabInner span {
    left: 20px;
    bottom: 30px;
}
.HeaderInnerTxt a {
	line-height: 20px;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 20px;
}
.whiteTabsSec h2 {
    font-size: 46px;
    line-height: 56px;
}
}
@media screen and (max-width: 1440px) {
.containCustom {
  max-width: 1170px;
}
.containCustom2 {
    max-width: calc(1170px + 120px);
}
.SecWrap {
	padding-bottom: 80px;
}
.SecWrap.SecTopSpace {
	padding-top: 80px;
}
.homeBannerTxt h1, .homeBannerTxt h2 {
	font-size: 56px;
    line-height: 60px;
}
.homeBannerTxt p {
	font-size: 16px;
	line-height: 24px;
}
.homeBanneSqrBox h4 {
    font-size: 32px;
}
.homeBanneSqrBox p {
    font-size: 14px;
}
.homeBanneSqrBox {
    width: 180px;
}
.HeadingBox h3 {
	font-size:  40px;
	line-height: 50px;
	margin-bottom: 10px;
}
.HeadingBox p {
	margin-top: 0;
}
.portBoxHover h4 {
    font-size: 24px;
}
.portBoxHover p {
    font-size: 16px;
}
.SecBanInner {
	max-width: 420px;
}
.SecBanTxt h3 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}
.SecBanTxt p {
	margin-top: 0;
}
.badgeBox {
    font-size: 12px;
    line-height: 20px;
}
.cardsCarousel .uk-card-body {
    padding: 30px 20px;
}
.ScrollCarousalBox {
    max-width: 350px;
}
.HeaderInnerTxt h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}
.HeaderInnerTxt p {
	margin-top: 0;
}
.innerPageContent h3 {
    font-size: 32px;
    line-height: 38px;
}
.boxyDesignTxt h3 {
    font-size: 30px;
    line-height: 38px;
}
.GridBoxTxt h3 {
	font-size: 36px;
    line-height: 42px;
}
.GridBoxTxt {
    max-width: 390px;
}
.menuTbox h3 {
	font-size: 28px;
	line-height: 34px;
}
.menuDropDownBox ul li a {
    padding: 10px 0;
    font-size: 14px;
}
.innerPageContent2 p {
	margin-top: 0;
	margin-bottom: 10px;
}
.innerPageContent2 h4 {
	margin-bottom: 10px;
}
.detailsPage h1 {
	font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}
.newsCard .uk-card-body {
    padding: 30px 20px;
	padding-bottom: 110px;
}
.newsCard .blueBtn {
    left: 20px;
    bottom: 30px;
}
.dateNews {
	bottom: 40px;
	right: 20px;
}
.tabInner h3 {
    font-size: 22px;
}
.whiteTabsSec h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}
.Content p {
    font-size: 16px;
}
.footBtn {
    padding: 10px 10px;
}
.tabBtn li a {
       font-size: 16px;
}
.homeBannerTxt h1, .homeBannerTxt h2 {
    max-width: 80%;
}
.homeBanneBtn a {
    line-height: 21px;
}
.innerPageContent2 h2 a {
    font-size: 18px;
}
.ratingBody span {
    width: 65%;
}
.transparentbtn {
    float: left;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    padding: 9px 30px;
    border-radius: 36px;
    transition: all 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
}
.WhiteBgSection .innerPageContent p {
    font-size: 16px;
}
.selectForm.uk-form-custom span {
    height: 45px;
}
.faqsCard h6 {
    font-size: 20px;
}
.faqsCard h3 {
    font-size: 28px;
}
.employeeBtn{
	font-size: 16px;
}
.common_btns_calculation svg, .common_btns svg {
    width: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px;
}
}
@media screen and (max-width: 1280px) {
body {
	font-size: 14px;
}
.containCustom {
  max-width: 1090px;
}
.containCustom2 {
    max-width: calc(1090px + 100px);
}
.SecBanTxt {
	padding: 0 50px;
}
.homeBannerTxt h1, .homeBannerTxt h2 {
    font-size: 40px;
    line-height: 46px;
}
.homeBannerTxt p {
    font-size: 14px;
    line-height: 22px;
    max-width: 70%;
}
.SecWrap {
    padding-bottom: 60px;
}
.SecWrap.SecTopSpace {
    padding-top: 60px;
}
.HeadingBox h3 {
    font-size: 36px;
    line-height: 46px;
}
.HeadingBox p {
    font-size: 14px;
    line-height: 20px;
}
.homeBanneSqrBox p {
	max-width: inherit;
}
.blueBtn {
	margin-top: 10px;
}
.ScrollCarousalBoxHover h4 {
	font-size: 22px;
	line-height: 30px;
}
.ScrollCarousalBoxHover p {
	font-size: 14px;
}
.ScrollCarousalBox {
    max-width: 325px;
}
.SecBanInner {
    max-width: 380px;
}
.SecBanTxt h3 {
    font-size: 36px;
    line-height: 46px;
}
.LinkBtn {
    font-size: 14px;
    line-height: 20px;
}
.cardsCarousel .uk-card {
    max-width: 320px;
}
.cardsCarousel h3 {
    font-size: 22px;
    line-height: 30px;
}
.cardsCarousel p {
	font-size: 14px;
}
.Newsbox h3 {
    font-size: 18px;
    line-height: 24px;
}
.HeaderInnerTxt h1 {
    font-size: 36px;
    line-height: 46px;
}
.HeaderInnerTxt p {
	font-size: 14px;
    line-height: 20px;
}
.innerPageContent h2 {
    font-size: 22px;
    line-height: 30px;
}
.innerPageContent h3 {
    font-size: 30px;
    line-height: 36px;
}
.boxyDesignTxt h3 {
    font-size: 28px;
    line-height: 36px;
}
.boxyDesignTxt h4 {
    font-size: 20px;
    line-height: 28px;
}
.boxyDesignTxt p {
    font-size: 14px;
}
.boxyDesignTxt ul li {
	font-size: 14px;
}
.boxyDesignTxt {
    margin-top: 150px;
    margin-right: 70px;
    padding: 40px 30px;
    max-width: 480px;
}
.GridBoxTxt h3 {
	font-size: 32px;
    line-height: 38px;
}
.GridBoxTxt p {
    font-size: 14px;
}
.GridBoxTxt {
    max-width: 350px;
}
.menuTbox h3 {
	font-size: 24px;
	line-height: 30px;
}
.menuDropDownBox ul li a {
    padding: 5px 0;
}
.innerPageContent2 h4 {
    font-size: 20px;
    line-height: 28px;
}
.detailsPage h1 {
    font-size: 36px;
    line-height: 46px;
}
.detailsPage h6 {
	font-size: 16px;
    line-height: 22px;
}
.detailsPage h3 {
    font-size: 22px;
    line-height: 30px;
}
.newsCard h3 {
    font-size: 22px;
    line-height: 30px;
}
.innerPageContent2 h2 a {
    font-size: 22px;
}
.whiteTabsSec h2 {
    font-size: 36px;
    line-height: 46px;
}
.tabsContent h3 {
	font-size: 22px;
}
.topRightMenu>li {
    float: left;
    margin-left: 20px;
}
.apiBtns a {
    float: left;
    margin-left: 10px;
}
.crfBtn {
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 13px;
}
.footBtn {
    float: left;
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 13px;
}
.Newsbox h3 {
    font-size: 16px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.GuideSearchInput input {
    margin-right: 5px;
}
.NewsFilter .uk-select:not([multiple]):not([size]) {
    margin-right: 5px;
}
.badgeBox {
    font-size: 10px;
}
}